.mainContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0046bf;
  padding-right: 20px;
  box-sizing: border-box;
}
.navbar_noProfile{
  display: flex;
  gap: 10px;
  /* background: #222; */
  padding: 10px;
}
.navbar_noProfile button {
  padding: 5px 7px;
  /* background: #555; */
  background-color: #0046bf;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.navbar_noProfile button:hover {
  background-color: #00358f;
  border-radius: 2px;
}

.navbar_noProfile button.active {
  border: solid 2px #ffffff;
  border-radius: 2px;
}

.content {
  height: 100%;
  overflow: hidden;
}

.x0pa_logo{
  margin-left: 10px;
  margin-right: 30px;
}