.testdata {
  /* width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box; */

  display: grid;
  grid-template-rows: 0.1fr 1fr;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

/* .testdatatable{
    height: 100%;
    width: 100%;
    overflow-x: auto;
} */

/* Wrapper for horizontal scrolling */
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
}







.excel-table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  background: #fff;
}

.excel-table thead th {
  position: sticky;
  top: 0;
  background: #f5f7fa;
  color: #333;
  font-weight: 600;
  text-align: left;
  padding: 8px 10px;
  border-bottom: 1px solid #000000;
  white-space: nowrap;
}

.excel-table tbody td {
  border-bottom: 1px solid #000000;
}


.excel-table input {
  width: 100%;
  min-width: 140px;
  padding: 6px 8px;
  border: none;
  font-size: 13px;
  outline: none;
  margin: 0;
}

.excel-table input:focus {
  border-color: #4c8bf5;
  background-color: #f1f6fe;
  box-shadow: 0 0 0 1px rgba(76, 139, 245, 0.2);
}

.excel-table thead th:hover {
  background: #eef2f7;
}





.data-toppannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
}

.data-toppannel select {
  margin: 0;
}

.data-toppannel input{
    width: 200px;
    margin: 0;
}

.add-btn,
.small-btn,
.save-btn {
  padding: 7px 12px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.add-btn {
  background: #007bff;
}
.small-btn {
  background: #28a745;
}
.save-btn {
  background: #ff6f00;
}

.data-buttons-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  width: 100%;
}





