.mainData {
  padding: 15px;
  height: 100%;
}

.dataform {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.showpassword {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 160px;
}

.labelInput{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.labelInput p{
  min-width: 150px;
}
.checkbox2 {
    width: 15px;
    height: 15px;
    margin: 0;
}


.add-btn,
.small-btn,
.save-btn {
  padding: 7px 12px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.add-btn {
  background: #007bff;
}
.small-btn {
  background: #28a745;
}
.save-btn {
  background: #ff6f00;
}